body {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-color:#fff;
	font-family:Verdana, Arial;
	font-size:11px;
	}



body.page {

	}

textarea, select, input, button {
	background-color: #fff;
	border:#999 1px solid;
	box-shadow:inset 0 0 4px #bbb;
	}
	
	
input[type=submit], button {
	background-color: #ccc;
}	


td {
	font-size:11px;
	}

h1 { font-size: 1.5em; margin: .4em 0; }
h2 { font-size: 1.4em; margin: .3em 0; }
h3 { font-size: 1.3em; margin: .2em 0; }
h4 { font-size: 1.2em; margin: .2em 0; }
h5 { font-size: 1.1em; margin: .2em 0; }
h6 { font-size: 1em; margin: .2em 0; }

a img {
	border:0;
	}


a:link {
	color:#039;
	}

a:visited {
	color:#039;
	}

a:hover {
	text-decoration:none;
	color:#060;
	}

hr.clear {
	clear:both;
	visibility:hidden;
	}

h1.title {
	margin-top:0;
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:1.5em;
	font-weight:bold;
	color:#039;
	padding-left:25px;
	background:transparent url('../images/puce5.gif') no-repeat 4px 50%;
	}

h2.title {
	font-family:"Trebuchet MS",Verdana,Arial;
	font-size:1.5em;
	font-weight:bold;
	color:#039;
	padding-left:25px;
	background:transparent url('../images/puce5.gif') no-repeat 4px 50%;
	}

h2.msgerror {
	font-family:Verdana,Arial;
	font-size:1.3em;
	font-weight:bold;
	color:#f00;
	padding-left:40px;
	background:transparent url('../images/puce6.gif') no-repeat 25px 50%;
	}



#centercontent {
   padding-top:13px;

   }



#ovfx_head {
	padding-top:18px;
	height:53px;
	background: #C1B995;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#ffffff),
		to(#C1B995)
	);
	background: -webkit-linear-gradient(
		top,
		#ffffff,
		#C1B995
	);
	background: -moz-linear-gradient(
		top,
		#ffffff,
		#C1B995
	);
	background: -o-linear-gradient(
		top,
		#ffffff,
		#C1B995
	);
	background: linear-gradient(
		top,
		#ffffff,
		#C1B995
	);
	}




#ovfx_head h1 {
	position:absolute;
	font-family:"Century Gothic",Verdana, Arial;
	margin-top:8px;
	width:300px;
	height:37px;
	}

#ovfx_head h1 a {

	display:block;
	padding-left:20px;
	padding-top:00px;
	width:700px;
	text-decoration:none;
	color:#777;
	}
	
	
#ovfx_head .portlet_header {
	
	position:absolute;
	top:24px;
	left:400px;
	right:300px;
	
	text-align:right;
}

#ovfx_page .bab_content table {
	text-align:left;
	}

#ovfx_menu {
	background: #C1B995;
	position:absolute;
	top:71px;
	width:100%;
	height:16px;
	border-bottom: 1px solid #222;
	left:0px;
	font-size:11px;
	}

#ovfx_menu ul {
	margin:0;
	padding:0;
	position:absolute;
	top:0px;
	right:0px;
	height:16px;
	/*background:#fff url('../images/btn_2.gif') no-repeat 0 0;*/
	background-color: #fff;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	border-radius: 3px 0 0 0; 
	padding-left:5px;
	}

#ovfx_menu li {
	display:inline;

	}

#ovfx_menu li a {
	float:left;
	display:block;
	background-color:#fff;
	height:16px;
	padding-left:9px;
	padding-right:9px;
	padding-top:2px;
	text-decoration:none;
	color:#039;
	/*border-right:#4C4C4C 1px dotted;*/
	}

#ovfx_menu li.last a {
	border-right:none;
	}

#ovfx_menu li a:hover {
	background-color:#A19975;
	color:#fff;
	}



#ctx_menu {
	position:absolute;
	top:70px;
	margin:0;
	padding:0;
	list-style-type:none;
	height:16px;

	}

#ctx_menu li {
	display:inline;
	}

#ctx_menu a:link,
#ctx_menu a:visited,
#ctx_menu span {
	display:block;
	float:left;
	padding:0 .8em 1px .8em;
	border-left:#4C4C4C 1px solid;
	border-right:#4C4C4C 1px solid;
	border-top:#4C4C4C 1px solid;
	border-radius:3px 3px 0 0;
	margin-left:.5em;
	text-decoration:none;
	background: #eee;
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#eee),
		to(#bbb)
	);
	background: -webkit-linear-gradient(
		top,
		#eee,
		#bbb
	);
	background: -moz-linear-gradient(
		top,
		#eee,
		#bbb
	);
	background: -o-linear-gradient(
		top,
		#eee,
		#bbb
	);
	background: linear-gradient(
		top,
		#eee,
		#bbb
	);
	color:#444;
	font-size:12px;
	height:15px;
	}

#ctx_menu a:hover {
	height:18px;
	position:relative;
	top:-2px;
	margin-bottom:-4px;
	}

#ctx_menu span {
	background:#fff;
	color:#000;
	height:18px;
	position:relative;
	top:-2px;
	margin-bottom:-4px;
	border-color:#222;
	}

#ovfx_user {
	
	right:0;
	width:auto;
	text-align:right;
	padding:8px 5px 4px 10px;
	
	font-size:11px;
	
	
}

#ovfx_user .text {
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	line-height:1.6em;
}

#ovfx_user img {
	vertical-align:middle;
	border:#444 1px solid;
	margin:2px;
}

#ovfx_user a {
	background:#666;
	color:#fff;
	padding:0px 6px;
	margin:3px 0 0 0;
	text-decoration:none;
	border-radius:2px;
	display:inline-block;
}

#ovfx_user a:hover {
	background:#222;
	color:#fff;
}

#ovfx_page {
	padding-top:1em;
	}


#ovfx_bottom {
	margin:1em 0 .2em 0;
	text-align:center;
	font-size:.9em;
	font-style:normal;
	color:#777;
	}

#ovfx_bottom a:link, #ovfx_bottom a:visited {
	color:#777;
	}




/* topic */

#BabCategTitleNavigation {
	background-color:#F7FFEB;
	border:#B9D987 1px solid;
	margin:.5em .5% ;
	}

#BabCategTitleNavigation table {
	border-collapse:collapse;
	width:100%;
	height:20px;
	}

#BabCategTitleNavigation td {
	border:0;
	padding:0;
	margin:0;
	padding-left:.5em;
	}

#BabCategTitleNavigation p {
	padding:.2em .5em;
	margin:3px 4px;
	}

#BabCategTitleNavigation a {
	text-decoration:none;
	color:#000;
	}

#BabCategTitleNavigation a:hover {
	color:#930;
	}

#BabCategTitleNavigation .bab_buttons a {
	display:block;
	text-align:center;
	width:8em;
	background-color:#B9D987;
	padding:.2em .5em;
	margin:3px 4px;
	border:#879E63 1px solid;
	}

#BabCategTitleNavigation .bab_buttons a:hover {
	background-color:#fc3;
	border:#F09C18 1px solid;
	}


ul.BabCategTitleNavigation {
	padding: 2.5em;
	margin: 2.5em 15%;
	border: #039 2px solid;
	background-color:#BFD7EF;
	list-style-type:square;
	color:#039;
	}

ul.BabCategTitleNavigation li {
	padding-bottom:.5em;
	}

ul.BabCategTitleNavigation li a,
ul.BabCategTitleNavigation li a:visited {
	text-decoration: none;
	color:#000;
	font-size:1.2em;
	}

ul.BabCategTitleNavigation li a:hover {
	text-decoration: underline;
	}

ul.BabCategTitleNavigation ul {
	font-weight: normal;
	font-style: italic;
	padding-left: 1em;
	margin:0;
	padding:0;
	list-style-type:none;
	}


body.page.articles .bab_repeat {
	margin:.5em 0;
	}


body.page.articles .bab_buttons .bab_title {
	font-weight:bold;
	}

/* PUBLIC CORE CSS */


.BabCalendarBodyBadMonthBackground {
	background-color: #ccc;
	}

.BabContentBackground,
.BabMenuActiveBackground {
	 background-color: #fff;
	 color:#000;
	 }

.BabCalendarMenuActiveBackground {
	background-color: #fff;
	color: #116;
	font-weight: bold;
	}

.BabLoginCadreBackground {
	background-color: #666e8c;
	}


td.BabLoginCadreBackground,
table.BabLoginCadreBackground>tr>td {
	padding:1px;
}



body .widget-babtableview,
body .widget-bordered {
	border:#e4e3de 1px solid;
}

.BabLoginMenuBackground {
	background-color: #f4f4f4;
	color: #494638;
	}

.BabLoginMenuBackground a {
	text-decoration:none;
	font-weight:bold;
	}

.BabLoginMenuBackground a:hover {
	color:#000;
	text-decoration:underline;
	}


.BabSiteAdminFontBackground:hover ,
.BabForumBackground1:hover {
	background-color:#f6f6f6;
	}


.BabSiteAdminFontBackground,
.BabTopicsBackground,
.BabTopicsButtonBackground {
	background-color: #fff;
	color: #000;
	}


.Babhighlight {
	background-color: #f00;
	}


/* background and font error messages  */
.BabErrorMessage {
	background-color: #fff;
	color: #f33;
	font-weight: bold;
	}

.BabWarningBodyBackground  {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	}

.BabWarningBodyBackground a:Link,
.BabWarningBodyBackground a:Visited {
	color: #00c;
	font-weight: bold;
	}

.BabWarningBodyBackground a:Hover {
	color: #FF3333;
	}

/* admin letterlist users/contacts */
.BabLetterlists {
	color: #000000;
	background-color: #FFFFFF;
	font-weight: bold;
	}

.BabLetterlists a:link,
a.BabAlphabetLink:Link,
a.BabAlphabetLink:Visited {
	color: #009933;
	font-weight: bold;
	}
.BabLetterlists a:Hover,
a.BabAlphabetLink:Hover {
	color: #000;
	}

a.BabNameEmailLink,
a.BabNameEmailLink:Link,
a.BabTitleSmall,
a.BabTitleSmall:Link {
	color: #000000;
	}
a.BabNameEmailLink:Hover,
a.BabTitleSmall:Hover {
	color: #0000CC;
	}



/* notes,faq,eventeditor,vacation */
a.BabEventFaqLink,
a.BabEventFaqLink:Link {
	color: #009933;
	font-weight: bold;
	}

a.BabEventFaqLink:Hover {
	color: #FF3333;
 	}

a.BabContentLinkColor:Link,
a.BabContentLinkColor:Visited,
a.BabSummaryLinkColor:Link,
a.BabSummaryLinkColor:Visited {
	color: #0000CC;
	}
a.BabContentLinkColor:Hover,
a.BabSummaryLinkColor:Hover,
.BabSummaryNbrMessage {
	color: #FF3333;
	}





/**************** ARTICLES ****************************/
/* titles */
.BabTopicsTitleBackground {
    color: #84726e;
    text-shadow: 0px 0px 2px #a7a1a0;
	padding:1em .5em;
	font-size: 2.2em;
	font-family: "Linux Libertine",Georgia,Times,serif;
	}
/* font and background articles */

.BabTopicsAuthorBackground {
	border-bottom:#ccc 1px solid;
	}

.BabMonthCalendarCurentDayBackground {
	background-color: #E6E6F7;
	color: #000000;
	}

.BabArticleSpacing {
	height: 5px;
	}

a.BabTopicsFooterLink,
a.BabTopicsFooterLink:Link,
a.BabTopicsFooterLink:Visited {
	color: #4990B1;
	text-decoration: none;
	}

a.BabTopicsFooterLink:Hover {
	text-decoration: underline;
	}


.BabTopicsAuthorBackground {
	padding:0;
	padding-top:5px;
	}



a.BabTopicsFooterMoreLink:Link,
a.BabTopicsFooterMoreLink:Visited {
	color: #000;
	text-decoration: none;
	border:#ccc 1px solid;
	padding:1px 4px;
	border-width:1px 1px 0 1px;
	background:#fff;
	margin-right:1em;
	position:relative;
	font-weight:bold;
	}


a.BabTopicsFooterMoreLink:Hover {
	background-color:#fc3;
	border-color:#fc3;
	}



/********** AGENDA **** CALENDAR ******************************/



.BabCalendarBodyBackground,
.Blackbg {
	background-color: #000000;
	}



/*names of the days on top of monthcalendar*/
.BabCalendarDays {
	background-color: #181A91;
	color: #FFFFFF;
	font-weight: bold;
	}

.BabMonthCalendarEventHourfont {
	background-color: #FFFFFF;
	color: #009933;
	}




/***************** MAIL ******************************/

/* white background  in use on inbox  groups  - plus links */
.BabMailBackground {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	}


/***************** FORUMS**********************************/

/*threads*/
.BabForumBackground,
.HeaderDayCalendar {
	background-color: #FFFFFF;
	}
.BabForumBackground1 {
	background-color: #F3F3F3;
	}



a.BabForumNavigation,
a.BabForumNavigation:Link,
a.BabForumNavigation:Visited {
	color: #111166;
	font-weight: bold;
	}

a.BabForumNavigation:Hover {
	color: #009933;
	}

 /*posts*/
.BabForumTopicsNavTitle,
.BabForumTopicsNavDate,
.BabForumTopicsNavAuthor {
	background-color: #E6E6F7;
	color: #111166;
	font-weight: bold;
	}

a.BabForumTopicsConfirm,
a.BabForumTopicsConfirm:Link,
a.BabForumTopicsConfirm:Visited {
	color: #4990B1;
	text-decoration: none;
	}
a.BabForumTopicsConfirm:Hover
	{
	text-decoration: underline;
	}

a.BabForumTopicsNavContribution:Link,
a.BabForumTopicsNavContribution:Visited {
	color: #000000;
	}
a.BabForumTopicsNavContribution:Hover {
	color: #0000CC;
	}

.BabForumTopicsNavTreeBody {
	background-color:#FFFFFF;
	color: #000000;
	font-weight: bold;
	}


.BabForumTopicsNavTreeLive {
	background-color:#FFFFFF;
	color:#FF3333;
	font-weight:bold;
	}


/************* ADMINISTRATION SITES*************/

body .widget-tableview .widget-table-header .widget-table-row,
.BabSiteAdminTitleFontBackground {
	background: #C1B995;
    background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(#C1B995),
        to(#ddd)
    );
    background: -webkit-linear-gradient(
        top,
        #C1B995,
        #ddd
    );
    background: -moz-linear-gradient(
        top,
        #C1B995,
        #ddd
    );
    background: -o-linear-gradient(
        top,
        #C1B995,
        #ddd
    );
    background: linear-gradient(
        top,
        #C1B995,
        #ddd
    );
	
	color: #000 ;
	font-weight: bold;
	}


.BabSiteAdminSmall {
	background-color: #D1D1D9;
	color: #111166 ;
	font-weight: bold;
	}


.BabSiteAdminFont {
	color: #000;
	}


/********* FAQ **** NOTES ********************************/
a.BabFaqLink,
a.BabFaqLink:Link,
a.BabFaqLink:Visited {
	color: #0000CC;
	font-weight: bold;
	}

a.BabFaqLink:Hover {
	color: #FF3333;
	}

.BabFaqQuestion {
	background-color: #FFFFFF;
	color: #0000CC;
	font-weight: bold;
	}

/************ DIRECTORIES *****************/

.BabDirectorySummaryTable{

}

.BabDirectorySummaryName h3{
    width: 100%;
	padding-bottom: 4px;
	color: #ffcc33;
	/*border-bottom: 1px dotted grey*/
}

.BabDirectorySummaryUpdate{
	height: 35px;
}

.BabDirectorySummaryFields{
	width: 100%;
}

.BabDirectorySummaryFields td{
	height: 30px;
	padding: 5px;
}

.BabDirectorySummaryFields td.left{
	background-color: #c8c8c8;
}

.BabDirectorySummaryFields td.right{
	border: 1px solid #c8c8c8;
}




/* homepage */


#homeLastContent {
	padding: 0px;
	margin: 0 .5em;

	}

#homeLastContent .bloc_left {
	width: 48%;
	float: left;

}
#homeLastContent .bloc_right {
	width: 48%;
	float: left;
	margin-left:4%;
}


@media screen and (max-width: 640px) {
  #homeLastContent .bloc_left,
  #homeLastContent .bloc_right {
    width: 100%;
    margin-left:0;
  }
}



.ovmlportlets-calendarevents,
.ovmlportlets-recentfiles,	
.ovmlportlets-recentarticles {
	padding: .2em .7em .7em .7em;
	background:#eee;
	border: 1px solid #ccc;
}

.ovmlportlets-recentarticles .article {
	border-bottom: 1px solid #ccc;
    padding: 0.3em 0;
}

.ovmlportlets-recentarticles .article:last-child {
	border-bottom:none;
}

.ovmlportlets-calendarevents h2,
.ovmlportlets-recentfiles h2,	
.ovmlportlets-recentarticles h2 {
	margin-top:0;
	color:#888;
	font-size:1.4em;
}


.portlet-frame > h2.widget-title {
    border-bottom: 1px solid #EEE;
    color: #888;
    font-size: 200%;
    font-weight: normal;
}


.bab-page-message {
	color:#444;
	font-weight:bold;
	font-size:1.3em;
	font-style:italic;
	background:transparent url(../images/Status-dialog-information-icon.png) no-repeat 5px 50%;
	padding:15px 1em 15px 42px;
	margin:.5em .5em 1em .5em;

	animation: bab-page-message 3s;
	-webkit-animation: bab-page-message 3s; 
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
}

.bab-page-message:hover {
	opacity:1 !important;
}

@keyframes bab-page-message
{
0% { }
70% {opacity:1;}
100% {opacity:.1;}
}

@-webkit-keyframes bab-page-message 
{
0% { }
70% {opacity:1;}
100% {opacity:.1;}
}







/* BREAD CRUMBS */





#ovfx_head .sitemap-position {
	display:block;
	margin:0;
	padding:0;
	
	position: absolute;
	left:5px;
	top:49px;
	
}


#ovfx_head .sitemap-position li {
	display:inline;
}

#ovfx_head .sitemap-position li a, 
#ovfx_head .sitemap-position li span {
	padding-left:13px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
	background:transparent url(../images/PuceMoreEvent.png) no-repeat 0 55%;
	text-decoration:none;
	color:#444;
}

#ovfx_head .sitemap-position li:first-child a, 
#ovfx_head .sitemap-position li:first-child span {
	background:transparent;
}


#ovfx_head .sitemap-position .sitemap-Custom a,
#ovfx_head .sitemap-position .sitemap-Custom span,
#ovfx_head .sitemap-position .sitemap-DGAll a,
#ovfx_head .sitemap-position .sitemap-DGAll span {
	padding-left:25px;
	background:transparent url(../images/go-home.png) no-repeat 5px 40% !important;
}


#ovfx_head .sitemap-position li a:hover {
	text-decoration:underline;
}







/* main menu */


.main-menu .sitemap-menu-root {
	margin:0;
	padding:0;
	background:#222;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.main-menu .sitemap-menu-root>li {
	
	border-right:#444 1px solid;
	cursor:pointer;
	padding:0;
	color:#fff;
	display:inline-block;
	position:relative;
	padding: 2px 8px 2px 0px;
	margin:0;
}

.main-menu .sitemap-menu-root>li>span,
.main-menu .sitemap-menu-root>li>a {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}


.main-menu .sitemap-menu-root > li.activetarget {
	background-color:#000;
}


.main-menu  .sitemap-menu-root ul {
	background: #fff;
	list-style: none;
	margin:0;
	padding:0 0 0 2px;
	position:absolute;	
	border:#000 1px solid;
	background: #fff url(../images/iconbg.png) repeat-y left top;
	
	-moz-box-shadow: 2px 2px 10px 0px #656565;
	-webkit-box-shadow: 2px 2px 10px 0px #656565;
	-o-box-shadow: 2px 2px 10px 0px #656565;
	box-shadow: 2px 2px 10px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.main-menu  .sitemap-menu-root ul li {
	position:relative;
	margin:0;
	padding:0;
}


.main-menu  .sitemap-menu-root ul li.sitemap-folder {
	background-image: url(../images/arrow_right.gif) !important; 
	background-repeat:no-repeat;
	background-position:98% 50%;
}


.main-menu  .sitemap-menu-root li>ul {
	top:21px;
}

.main-menu  .sitemap-menu-root li>ul ul {
	top:0px;
	left:0px;
	margin-left:100%;
}

.main-menu  .sitemap-menu-root>li:nth-child(n+5)>ul ul { 
	left:auto;
	right:0px;
	margin-right:100%;
}



.main-menu  .sitemap-menu-root ul li,
.main-menu  .sitemap-menu-root ul a {
	color:#000;
	text-decoration:none;
}

.main-menu  .sitemap-menu-root ul li>a,
.main-menu  .sitemap-menu-root ul li>span {
	display:block;
	min-width:180px;
	max-width:300px;
	padding-top:.4em;
	padding-bottom:.4em;
}

.main-menu  .sitemap-menu-root ul li:hover {
	background-color:#eee;
}


.main-menu .sitemap-menu-root ul,
.main-menu .sitemap-menu-root ul>li>ul,
.main-menu .sitemap-menu-root ul>li>ul>li>ul {
	display:none;
}

.main-menu .sitemap-menu-root li:hover>ul,
.main-menu .sitemap-menu-root ul>li:hover>ul,
.main-menu .sitemap-menu-root ul>li>ul>li:hover>ul {
	display:block;
}

#bab-menu-page ul{
	list-style-type:none;
	padding-inline-start: 25px;
}




