

<div id="homeLastContent">

	<div class="bloc_top">

		<div class="bloc_left">
			<OFPortletContainer id="container-left-locked" mode="locked">
		</div>
		<div class="bloc_right">
			<OFPortletContainer id="container-right-locked" mode="locked">
		</div>

		<div style="clear: both"></div>
	</div>

	<div class="bloc_bottom">
		<div class="bloc_left">
			<OFPortletContainer id="container-left-unlocked">
		</div>

		<div class="bloc_right">
			<OFPortletContainer id="container-right-unlocked">
		</div>

		<div style="clear: both"></div>
	</div>


    <OFPortletContainer id="container-bottom"  mode="locked">
</div>

<hr class="clear" />