
<div id="homeLastContent">

	<div class="bloc_left">
		<OFPortletContainer id="container-left-locked" mode="locked">
		<OFPortletContainer id="container-left-unlocked">
	</div>
	<div class="bloc_right">
		<OFPortletContainer id="container-right-locked" mode="locked">
		<OFPortletContainer id="container-right-unlocked">
	</div>

</div>



<hr class="clear" />